<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="main.css">
	<title>Node-Place</title>
</head>

<body>
	<% if(isLoggedIn){ %>
	<p id="nickp"><span id="nickname"><%= user %></span>님 안녕하세요!</p>
	<button id="mypage">내 정보</button> <br>
	<button id = "logout">로그아웃</button>
	<% }else{ %>
		<button id = "login">로그인</button>
		<button id = "join">회원가입</button>
	<% } %>

	<input type="text" name="search" id="search"onkeyup="enterkey();">
	<input type="button" id="searchbtn" value="검색" > &nbsp

	<% if(isLoggedIn) { %>
	<p id="search">검색결과 : <span id="srchresult"><%= searchnow %></span> </p>
	<button id="favoritebtn"><%= starcheck %></button>

		<% if(favoritecnt>0) { %>
			<br><strong> 즐겨찾기: </strong>	
			<% for(let i = favoritecnt; i>0 ; i--) { %>
				<p class="favorites"><%= favoritelist.rows[i-1].dataValues.placeName %></p>
			<% } %>
			
		<% } %>	

	<% } else { %>
		<p id="search">검색결과 : <span id="srchresult"></span> </p>
		<br>
	<% } %>
	<br/>

	<div id="map"></div> <br>
	<% if(isLoggedIn) { %>
		<strong id="history">검색기록 : </strong>
		<% if(historycnt>0){ %>
			<% for(let i = historycnt;i>0;i--){ %>
				<p id="placehistory"><%= historylist.rows[i-1].dataValues.query %></p>&nbsp
			<% } %>
		 <% } %>
		 <button id="deleteall">검색기록 전체 삭제</button>
	<% } %>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5c1322ff92a78cb7ac8ca9fde0a19ee3&libraries=services"></script>
	<script type="text/javascript"
		src="/map.js"></script>
	<script src = "/event.js"></script>
</body>

</html>